//
//  (width, height, left, top)
//

$layout-lead-today: (
	default: (
		(12, 'large'),
		(12, 'wide'),
		(12, 'wideImageless'),
		),
	XS: (
		(12, 'large'),
		(1/3, 'tall'),
		(12, 'wideImageless'),
		),
	S: (
		(12, 'large'),
		(12, 'wide'),
		(1/3, 'small'),
	),
	M: (
		(9, 'large'),
		(1/3, 'tall'),
		(1/3, 'small'),
	)
);

$layout-five-loud: (
	S: (
		(1/3, 'wide'),
		(1/3, 'small'),
		(1/3, 'small'),
	)
);

$layout-eight-medium: (
	S: (
		(2/3, 'wide'),
		(1/3, 'small'),
		(1/3, 'medium'),
	)
);
