
@include nhFlexipodDefineLayout(fiveloud, (
	M: (
		(B, 0, 0), // 1
		(E, 4, 0), // 2
		(G, 4, 2), // 3
		(C, 8, 0), // 4
		(F, 4, 3)  // 5
	),
	L: (
		(B, 0, 0), // 1
		(E, 3, 0), // 2
		(G, 3, 2), // 3
		(C, 6, 0), // 4
		(F, 3, 3)  // 5
	),
	XL: (
		(B, 0, 0), // 1
		(E, 3, 0), // 2
		(G, 3, 2), // 3
		(C, 6, 0), // 4
		(F, 3, 3)  // 5
	)
));
