//
//  (width, height, left, top)
//

$layout-lead-today: (
	default: (
		(12, 3, 0, 0, 'large'),
		(12, 1, 0, 3, 'small'),
		(12, 1, 0, 4, 'small'),
		(12, 3, 0, 5, 'large'),
		(12, 1, 0, 8, 'small'),
		(12, 1, 0, 9, 'small'),
		(12, 1, 0, 10, 'small'),
		(12, 3, 0, 11, 'large'),
		(12, 1, 0, 14, 'small'),
		(12, 1, 0, 15, 'small')
	),
	XS: (
		(12, 3, 0, 0, 'large'),
		(1/2, 2, 0, 3, 'medium'),
		(1/2, 2, 1/2, 3, 'medium'),
		(1/2, 1, 0, 5, 'small'),
		(1/2, 1, 1/2, 5, 'small'),
		(12, 3, 0, 6, 'wide'),
		(1/2, 1, 0, 9, 'small'),
		(1/2, 1, 1/2, 9, 'small'),
		(12, 3, 0, 10, 'wide'),
		(12, 1, 0, 13, 'wide')
	),
	S: (
		(2/3, 4, 0, 0, 'large'),
		(1/3, 3, 2/3, 0, 'tall'),
		(1/3, 1, 2/3, 3, 'small'),
		(1/3, 1, 0, 4, 'small'),
		(2/3, 1, 1/3, 4, 'wide'),
		(1/3, 3, 0, 5, 'tall'),
		(1/3, 1, 1/3, 5, 'small'),
		(1/3, 1, 1/3, 6, 'small'),
		(1/3, 2, 2/3, 5, 'medium'),
		(2/3, 1, 1/3, 7, 'wide')
	)
);

$layout-five-loud: (
	default: (
		(12, 3, 0, 0, 'large'),
		(12, 1, 0, 3, 'small'),
		(12, 1, 0, 4, 'small'),
		(12, 1, 0, 5, 'small'),
		(12, 1, 0, 6, 'small')
	),
	XS: (
		(12, 3, 0, 0, 'large'),
		(1/2, 2, 0, 3, 'medium'),
		(1/2, 2, 1/2, 3, 'medium'),
		(1/2, 1, 0, 5, 'small'),
		(1/2, 1, 1/2, 5, 'small')
	),
	S: (
		(1/3, 3, 0, 0, 'wide'),
		(1/3, 1, 1/3, 0, 'small'),
		(1/3, 1, 1/3, 1, 'small'),
		(1/3, 2, 2/3, 0, 'medium'),
		(2/3, 1, 1/3, 2, 'small')
	)
);

$layout-eight-medium: (
	default: (
		(12, 1, 0, 0, 'small'),
		(12, 2, 0, 1, 'large'),
		(12, 2, 0, 3, 'large'),
		(12, 1, 0, 5, 'small'),
		(12, 1, 0, 6, 'small'),
		(12, 1, 0, 7, 'small'),
		(12, 1, 0, 8, 'small'),
		(12, 1, 0, 9, 'small')
	),
	XS: (
		(12, 1, 0, 0, 'wide'),
		(1/2, 2, 0, 1, 'medium'),
		(1/2, 2, 1/2, 1, 'medium'),
		(1/2, 2, 0, 3, 'medium'),
		(1/2, 2, 1/2, 3, 'medium'),
		(12, 1, 0, 5, 'wide'),
		(12, 1, 0, 6, 'wide'),
		(12, 1, 0, 7, 'wide')
	),
	S: (
		(2/3, 1, 0, 0, 'wide'),
		(1/3, 1, 2/3, 0, 'small'),
		(1/3, 2, 0, 1, 'medium'),
		(1/3, 2, 1/3, 1, 'medium'),
		(1/3, 1, 2/3, 1, 'small'),
		(1/3, 1, 2/3, 2, 'small'),
		(2/3, 1, 0, 3, 'wide'),
		(1/3, 1, 2/3, 3, 'small'),
	)
);
