@mixin podHeading {
	@include nTypeAlpha(2);
	margin-bottom: 20px;
	padding: 10px 0;
	color: oColorsGetPaletteColor('warm-4');
	border: solid oColorsGetPaletteColor('warm-3');
	border-width: 0 0 1px;
}

.pod-heading {
	@include podHeading;
}

.carousel-heading {
	@include podHeading;
	border: none;
	text-align: center;
}
