.pod-heading {
	margin-bottom: 20px;
	padding: 20px 0;
	@include nTypeAlpha(1);
	color: map-get($o-colors-palette, 'warm-4');
	border: solid map-get($o-colors-palette, 'warm-3');
	border-width: 0 0 1px 0;
}
