@mixin podHeading {
	@include nTypeAlpha(2);
	padding: 10px 0;
	color: oColorsGetPaletteColor('warm-4');
}

@mixin linkHover {
	&:hover, &:active {
		border-width: 0 0 1px 0;
		border-style: dotted;
	}
}

.pod-heading {
	overflow: hidden;
	border: solid oColorsGetPaletteColor('warm-3');
	border-width: 0 0 1px;
	margin-bottom: 10px;

	h1 {
		@include podHeading;
		float: left;
	}

	&.pod-heading--feed {
		margin-bottom: -1px;
		position: relative;
		z-index: 1;
	}
}

.carousel-heading {
	@include podHeading;
	border: none;
	text-align: center;
	margin-bottom: 10px;
}

.pod-heading--link {
	@include nTypeAlpha(3);
	display: block;
	padding-right: 10px;

	span {
		line-height: 40px;
		float: right;
		margin-right: 10px;
		display: inline-block;
		color: oColorsGetPaletteColor('link-1');
	}

	&:hover, &:active {
		span {
			color: oColorsGetPaletteColor('link-2');
		}

		.more-icon,
		button[data-alternate-text="More"] {
			@include nextIcon(go-to-circle, oColorsGetPaletteColor(link-2), 30px);
		}
	}
}
