@mixin podHeading {
	@include nTypeAlpha(2);
	padding: 10px 0;
	color: oColorsGetPaletteColor('warm-4');
}

@mixin linkHover {
	&:hover, &:active {
		text-decoration: underline;
	}
}

.pod-heading {
	overflow: hidden;
	border: solid oColorsGetPaletteColor('warm-3');
	border-width: 0 0 1px;
	margin-bottom: 20px;
	h1 {
		@include podHeading;
		float: left;
	}

	&.pod-heading--feed {
		margin-bottom: -1px;
		position: relative;
		z-index: 1;
	}
}

.carousel-heading {
	@include podHeading;
	border: none;
	text-align: center;
	margin-bottom: 10px;
}

.pod-heading--link {
	span {
		@include linkHover;
		line-height: 40px;
		float: right;
		margin-right: 10px;
		display: inline-block;
		color: oColorsGetPaletteColor('link-1');

		&:hover {
			color: oColorsGetPaletteColor('link-2');
		}
	}
}
