@import "colors";
@import "o-colors/main";

@import "n-header-footer/main";
@import "next-welcome/main";

@import "next-type/main";
@import "type";
@import "o-assets/main";
@import "components/grid/main";
@import "components/story-card/main";
@import "components/feed/main";
@import "components/flexipod/main";
@import "flexipod-layouts";

html {
	@include oColorsFor(page);
	@include nTypeAlpha(3);
	background-color: map-get($o-colors-palette, 'warm-bg');

	// Prevent navigation menus from creating
	// extra space on sides of the page
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	@include nhGridGenerate();
	padding: 0;
	margin: 0;
}

.main-content {
	@include nhGridColumn($span: (default: 12, M: 9, S: 8));

	@include nhGridRespondTo($from: S) { margin-top: 40px; }
	.flexipod--lead-today {
		// TODO think about sinking the breakpoints into nhFlexipod
		@include nhFlexipod(map-get($layout-lead-today, default));

		@include nhGridRespondTo(XS) {
			@include nhFlexipod(map-get($layout-lead-today, XS));
		}

		@include nhGridRespondTo(S) {
			@include nhFlexipod(map-get($layout-lead-today, S));
		}

		@include nhGridRespondTo(M) {
			@include nhFlexipod(map-get($layout-lead-today, M), 9);
		}
	}

	.flexipod--five-loud {
		// TODO think about sinking the breakpoints into nhFlexipod
		@include nhFlexipod(map-get($layout-five-loud, default));

		@include nhGridRespondTo(XS) {
			@include nhFlexipod(map-get($layout-five-loud, XS));
		}

		@include nhGridRespondTo(S) {
			@include nhFlexipod(map-get($layout-five-loud, XS));
		}

		@include nhGridRespondTo(M) {
			@include nhFlexipod(map-get($layout-five-loud, S), 9);
		}
	}

	.flexipod--eight-medium {
		// TODO think about sinking the breakpoints into nhFlexipod
		@include nhFlexipod(map-get($layout-eight-medium, default));

		@include nhGridRespondTo(XS) {
			@include nhFlexipod(map-get($layout-eight-medium, XS));
		}

		@include nhGridRespondTo(S) {
			@include nhFlexipod(map-get($layout-eight-medium, XS));
		}

		@include nhGridRespondTo(M) {
			@include nhFlexipod(map-get($layout-eight-medium, S), 9);
		}
	}
}

body .sidebar {
	display: none;

	@include nhGridRespondTo($from: S) {
		display: block;
	}
}
