$o-grid-column: 100 / 1440;
$o-grid-gutter: 20 / 1440;

$o-grid-layouts: (
	XS: 330px,
	S: 480px,
	M: 720px,
	L: 960px,
	XL: 1200px
	//	XXL: 1440px
);

$o-grid-min-width: 280px;
$o-grid-start-snappy-mode-at: XL;

// Shut up next-sass-setup
$_next-ui-setup-first-pass: false;

@import "next-sass-setup/main";

@import "colors";
@import "type";

@import "n-layout/main";
@import "n-header-footer/main";
@import "next-welcome/main";
@import "next-myft-ui/main";
@import "n-video/main";
@import "n-message-prompts/main";

@import "components/grid/main";
@import "components/story-card/main";
@import "components/carousel-card/main";
@import "components/header-tabs/main";
@import "components/video/main";
@import "components/ads/main";

@import "icons";

@import "../components/feed/main";
@import "../components/fastft/main";

@import "components/flexipod/main";

@import "flexipod-layouts";

@include oGridSurfaceCurrentLayout;

$container-widths: (
	XS: 100%,
	S: 100%,
	M: 100%,
	L: 100%,
	XL: 100%
//	XXL: 1440px
);

html {
	background-color: oColorsGetColorFor('page', 'background');

	// Prevent navigation menus from creating
	// extra space on sides of the page
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	border: 0;
}

.u-visually-hidden:focus,
.u-visually-hidden:active, {
	position: static;
	overflow: visible;
	clip: auto;
	height: auto;
	width: auto;
}

body {
	@include oGridGenerate();
	@include nhHeaderTabs();

	padding: 0;
	margin: 0;

	// Top tabs (News, fastFT)

	.nh-header-tabs__tablist {
		display: none;
	}

	@include oGridRespondTo($until: L) {
		@include nhHeaderTabsActive();

		.nh-header-tabs__tablist {
			display: block;
		}

		// initial state
		.nh-header-tabs__panel {
			display: block;
		}

		.sidebar--fastft {
			display: none;
		}

		// selected states

		#news-tab:target ~ .fixed-width-container .sidebar--fastft {
			display: none;
		}

		#fastft-tab:target ~ .fixed-width-container {
			.main-content {
				display: none;
			}

			.sidebar--fastft {
				display: block;
			}
		}

		#fastft-tab:target ~ .nh-header-tabs__panel {
			display: none;
		}
	}
}

// make n-header-footer work with o-grid@0.4
.next-header__row--inner > div {
	padding-top: 0;
	padding-bottom: 0;
}

.next-header__logo {
	line-height: 1.3;
}

.n-welcome {
	[data-o-grid-colspan] {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.fixed-width-container {
	@each $layout in $container-widths {
		@include oGridRespondTo(nth($layout, 1)) {
			$width: nth($layout, 2);

			@if $width != 100% {
				width: $width;
			}
		}
	}

	margin: 0 auto;
}

.main-content {
	@include oGridColumn($span: (default: 12, L: 9));

	.flexipod--lead-today {
		// TODO think about sinking the breakpoints into nhFlexipod
		@include nhFlexipod(map-get($layout-lead-today, default));

		@include oGridRespondTo(XS) {
			@include nhFlexipod(map-get($layout-lead-today, XS));
		}

		@include oGridRespondTo(S) {
			@include nhFlexipod(map-get($layout-lead-today, S));
		}

		@include oGridRespondTo(M) {
			@include nhFlexipod(map-get($layout-lead-today, M));
		}

		@include oGridRespondTo(L) {
			@include nhFlexipod(map-get($layout-lead-today, L), 9);
		}
	}

	.flexipod--opinion {
		// TODO think about sinking the breakpoints into nhFlexipod
		@include nhFlexipod(map-get($layout-opinion, default));

		@include oGridRespondTo(XS) {
			@include nhFlexipod(map-get($layout-opinion, XS));
		}

		@include oGridRespondTo(S) {
			@include nhFlexipod(map-get($layout-opinion, S));
		}

		@include oGridRespondTo(M) {
			@include nhFlexipod(map-get($layout-opinion, M), 9);
		}
	}

	.flexipod--topic {
		// TODO think about sinking the breakpoints into nhFlexipod
		@include nhFlexipod(map-get($layout-topic, default));

		@include oGridRespondTo(S) {
			@include nhFlexipod(map-get($layout-topic, S));
		}

		@include oGridRespondTo(M) {
			@include nhFlexipod(map-get($layout-topic, S), 9);
		}
	}

	.flexipod--editors {
		.article-group {
			@include oGridRow;
			@include oGridRowReset;
		}
	}
}

.next-header {
	@include oGridRespondTo($from: L) { margin-bottom: 20px; }
}

.sidebar {
	&.sidebar--fastft {
		display: none;

		@include oGridRespondTo($from: L) {
			display: block;
		}
	}
}

#fastft {
	h1 {@include nhFastFtTitle; }
	article { @include nhFeedItem(fastft-brand); }
}

.feed {
	article { @include nhFeedItem(link-2); }
}

.bordered-spacer {
	margin: 10px 0;
	height: 10px;
}

.bordered-row {
	overflow: hidden;
	clear: both;
	position: relative;
	background-color: oColorsGetPaletteColor('warm-carousel');
	padding: 10px 0;
	margin: 0 0 20px;
	&::before,
	&::after {
		@include dots;
		position: absolute;
	}
	&::before { top: 0; }
	&::after { bottom: 0; }

	&.video-hub {
		background-color: oColorsGetColorFor('dark-bg', 'background');
	}
}
