<article class='carousel-card {{lowercase item.metadata.genre.0.term.name}}'>

	{{#if item.images.0.url}}
		<a href="/{{item.id}}"><img class='carousel-card__image' src="{{item.images.0.url}}" /><a>
	{{/if}}
	<div class="carousel-card__content">
		<a href="/{{item.id}}">
			<h3 class="story-card__taxon">{{item.metadata.primarySection.term.name}}</h3>
			<h2 class="story-card__title">{{item.title.title}}</h2>
		</a>
		<!-- <h3 class="carousel-card__summary">{{{item.summary.excerpt}}}</h3> -->
	</div>
</article>
