<article class='carousel-card article--{{viewGenre}}'>
    {{#if (getImage item.images 'wide-format' 320)}}
      <a href="/{{item.id}}" class="carousel-card--link">
        {{#with (getImage item.images 'wide-format' 320)}}
          <img class='carousel-card__image'
            src="{{src}}"
            alt="{{alt}}"
          />
        {{/with}}
      </a>
    {{/if}}
    <div class="carousel-card__content">
      <a href="/stream/sectionsId/{{primaryTag.id}}" class="story-card--link" tabindex="0" >
        <h3 class="story-card__taxon">{{primaryTag.name}}</h3>
      </a>
    	<a href="/{{item.id}}" class="carousel-card--link">
  			<h2 class="story-card__title">{{item.title.title}}</h2>
      </a>
		</div>
	</a>
</article>
