<section class="flexipod flexipod--lead-today" id="site-content" data-trackable="lead-today" role="region" tabindex="0" aria-labelledby="lead-pod-title">
	<div class="article-group" role="presentation">
		{{#slice leads limit=1}}
			{{> story-card related=true }}
		{{/slice}}
	</div>
	<div class="article-group" role="presentation">
		{{#slice items limit=3}}
			{{> story-card }}
		{{/slice}}
	</div>
	<div class="article-group" role="presentation">
		{{#slice items limit=3 offset=3}}
			{{> story-card }}
		{{/slice}}
	</div>
</section>
