<div class="flexipod flexipod--opinion" data-trackable="opinion">
	<div class="pod-heading">
		<h1>{{title}}</h1>
		<a class="pod-heading--link" href="{{url}}" data-trackable="go-to-link">
			<i class="module-more-icon more-icon"></i>
			<span>Go to Opinions</span>
		</a>
	</div>
	<div>
		<div class="article-group">
			{{#slice items limit=2}}
				{{> story-card }}
			{{/slice}}
		</div>
		<div class="article-group">
			{{#slice items limit=3 offset=2}}
				{{> story-card }}
			{{/slice}}
		</div>
		<div class="article-group">
			{{#slice items limit=2 offset=5}}
				{{> story-card }}
			{{/slice}}
		</div>
	</div>
</div>
