<article class='story-card {{lowercase item.metadata.genre.0.term.name}}'>
	<img class='story-card__image' src="{{item.images.0.url}}" />
	<div class="story-card__content">
		<h2 class="story-card__title">
			<span class="story-card__taxon">{{item.metadata.primarySection.term.name}}</span>|
			{{item.title.title}}
		</h2>
		<h3 class="story-card__summary">{{{item.summary.excerpt}}}</h3>
	</div>
	<div class='story-card__footer'>
		<time
			data-o-component="o-date"
			class="o-date"
			datetime="{{#dateformat}}{{item.lifecycle.lastPublishDateTime}}{{/dateformat}}">
				{{#dateformat "dddd, d mmmm, yyyy"}}{{item.lifecycle.lastPublishDateTime}}{{/dateformat}}
		</time>
	<div>
</article>
