<article class='story-card article--{{genre}}' data-trackable="story" tabindex="0" aria-labelledby="{{id}}-title" role="article">
	{{#if primaryImage}}
		<a href="/{{id}}" class="story-card--link" data-trackable="image" role="presentation" aria-hidden="true">
			{{#with primaryImage}}
				<img class='story-card__image'
				src="{{src}}" alt=""
				/>
			{{/with}}
		</a>
	{{/if}}
	<div class="story-card__content">
		<a href="/stream/{{primaryTag.taxonomy}}Id/{{primaryTag.id}}" data-trackable="primary-tag" class="story-card--link">
			<div class="story-card__taxon" aria-label="Topic: {{primaryTag.name}}">{{primaryTag.name}}</div>
		</a>
			<a href="/{{id}}" class="story-card--link" data-trackable="main-link">
				<h1 id="{{id}}-title" class="story-card__title" data-trackable="title">{{title}}</h1>
				<h2 class="story-card__summary" data-trackable="summary">{{{summary}}}</h2>
			</a>
	</div>
	{{#if relatedLinks}}
		<div class="story-card__related" data-trackable="related-links" tabindex="0" role="group" aria-label="Related links">
			{{#slice item.package limit=3}}
				<article class="story-card__related-link" aria-labelledby="{{id}}-title" tabindex="0" role="article">
					{{#if packaging.kicker}}
						<span class="story-card__taxon" aria-label="Topic: {{packaging.kicker}}">{{packaging.kicker}}</span><span aria-hidden="true">|</span>
					{{/if}}
					<a href="/{{id}}" data-trackable="title" role="heading"><span id="{{id}}-title">{{packaging.spHeadline}}</span></a>
				</article>
			{{/slice}}
		</div>
	{{/if}}
	<div class='story-card__footer'>
		<i class="time-icon"></i>
		<span class="u-visually-hidden">Published</span>
		<time
			data-o-component="o-date"
			class="o-date"
			datetime="{{#dateformat}}{{lastPublished}}{{/dateformat}}">
				{{#dateformat "dddd, d mmmm, yyyy"}}{{lastPublished}}{{/dateformat}}
		</time>
		{{>next-myft-ui/templates/save-for-later contentId=item.id}}
	</div>
</article>
