@import "variables";
@import "next-type/main";

@import "../grid/main";

@mixin nhFlexipodLayout($layout-spec, $total-cols: $nh-grid-columns) {
	@if type-of($layout-spec) == list {
		@for $int from 1 through length($layout-spec) {
			$card-spec: nth($layout-spec, $int);
			@include nhFlexipodCardPositioning($int, nth($layout-spec, $int), $total-cols);
		}
	}
}

@mixin nhFlexipodCardPositioning($int, $card-spec, $total-cols: $nh-grid-columns) {
	$width: nth($card-spec, 1);
	$type: nth($card-spec, 2);
		@include nhStoryCard($type);

	.article-group:nth-child(#{$int}) .story-card {
		width: nhGridColspan($width, $total-cols);
	}
}


@mixin nhFlexipod($layout-spec, $total-cols: $nh-grid-columns) {
	@include nhFlexipodLayout($layout-spec, $total-cols);

	.article-group {
		width: 100%;
		clear: both;
		overflow: hidden;
		// display: flex;

		.story-card {
			@include nhGridColmargins($total-cols);
			background-color: oColorsGetPaletteColor('warm-base');
			float: left;
		}
	}

}
