/node*
/bower_components/
/node-v0.10.32-linux-x64/
/.haikro-cache/
/.node-version
/.sass-cache
.DS_Store
.env
npm-debug.log
/public/*.css
/public/*.js
/public/*.map
!/public/polyfill.min.js
/public/*asset-hash.json
/templates/components/bower
/tests/browser/reports
/tests/browser/screenshots
.editorconfig
.idea/
