.sidebar article {
	padding: 10px 0;
	border-bottom: 1px #dddddd solid;

	h2 {
		@include nTypeCharlie(4);
		font-size: 19px;
		font-style: normal;
	}

	p { display: none; }

	time {
		@include nTypeAlpha(5);
		text-transform: uppercase;
		height: 42px; // TODO Footer height variable
	}
}
