<div class="nh-grid-container">
		<div class="fixed-width-container">
			<h1 class="fastft--header">
				<a href="/fastft">
					<span class="fastft__logo__fast">fast</span><span class="fastft__logo__ft">FT</span>
					<i class="fastft__more-icon more-icon"></i>
				</a>
			</h1>
			<section class="main-content">
				{{> lead-today items=articles.items }}
			</section>
			<aside class="sidebar" data-nh-grid-colspan="S4 M4">
				<section id="fastft" data-fastft-articles="{{json fastFt.items}}">{{{ reactRenderToString FastFtFeed fastFt }}}</section>
			</aside>
		</div>

		<div class="bordered-row nh-grid-row">
			<div class="fixed-width-container">
				<section class="main-content" data-nh-grid-colspan="12">
					{{> editors items=editors.items title="Editor's Picks"}}
				</section>
			</div>
		</div>

		<div class="fixed-width-container">
			<section class="main-content">
				{{> opinion items=opinion.items url=opinion.url title="Opinion" }}
			<div class="bordered-spacer"></div>
				{{> column items=weekend.items url=weekend.url title="Weekend" }}
				{{> column items=markets.items url=markets.url title="Markets" }}
				{{> column items=tech.items url=tech.url title="Technology" }}
			</section>
			<aside class="sidebar" data-nh-grid-colspan="S4 M4">
				<section class="feed feed--popular" data-fastft-articles="{{json fastFt.items}}">
					<div>
						<h1>
							<div class="pod-heading pod-heading--feed">
								<h1>Popular</h1>
								<a href="{{url}}"><i class="module-more-icon more-icon"></i></a>
							</div>
						</h1>
						{{{ reactRenderToString Feed popular }}}
					</div>
				</section>
			</aside>
		</div>
</div>
