<div class="nh-grid-container">
	<div class="nh-grid-row">
		<section class="main-content">
			{{> lead-today items=articles.items }}
			<div class="flexipod flexipod--five-loud">
				<h1>Five loud flexipod</h1>
				<div class="flexipod__cards">
					<article>
						<p><span>1</span></p>
					</article>
					<article>
						<p><span>2</span></p>
					</article>
					<article>
						<p><span>3</span></p>
					</article>
					<article>
						<p><span>4</span></p>
					</article>
					<article>
						<p><span>5</span></p>
					</article>
				</div>
			</div>
			<div class="flexipod flexipod--eight-medium">
				<h1>Eigth medium flexipod</h1>
				<div class="flexipod__cards">
					<article>
						<p><span>1</span></p>
					</article>
					<article>
						<p><span>2</span></p>
					</article>
					<article>
						<p><span>3</span></p>
					</article>
					<article>
						<p><span>4</span></p>
					</article>
					<article>
						<p><span>5</span></p>
					</article>
					<article>
						<p><span>6</span></p>
					</article>
					<article>
						<p><span>7</span></p>
					</article>
					<article>
						<p><span>8</span></p>
					</article>
				</div>
			</div>
		</section>
		<aside class="sidebar" data-nh-grid-colspan="S4 M3">
			<section>
				<h1 class='pod-heading'>Fast FT</h1>
				{{#each fastFt.items}}
					<article>
						<h2>{{title}}</h2>
						<p>{{{summary}}}</p>
						<time
							data-o-component="o-date"
							class="o-date"
							datetime="{{#dateformat}}{{publishedDate}}{{/dateformat}}">
								{{#dateformat "dddd, d mmmm, yyyy"}}{{publishedDate}}{{/dateformat}}
						</time>
					</article>
				{{/each}}
			</section>
		</aside>
	</div>
</div>
