<div class="nh-grid-container">
	<div class="nh-grid-row">
		<section class="main-content" style="height: 300px; background-color: #fdd">
			<div class="flexipod">
				<p data-nh-grid-colspan="12 S6 M4 L3" style="height: 100px; background-color: #ddd">Story 1</p>
				<p data-nh-grid-colspan="12 S6 M4 L3" style="height: 100px; background-color: #ddd">Story 2</p>
				<p data-nh-grid-colspan="12 S6 M4 L3" style="height: 100px; background-color: #ddd">Story 3</p>
			</div>
		</section>
		<aside class="sidebar" data-nh-grid-colspan="12 M4 L3" style="height: 300px; background-color: #ddf">
			<p>Sidebar</p>
		</aside>
	</div>
</div>
