@import "../grid/main";

.carousel-card {
	width: 100%;
	text-align: left;

	@include nhGridRespondTo(XS) {
		@include nhGridColspan(6, 12);
	}

	@include nhGridRespondTo(S) {
		@include nhGridColspan(4, 12);
		text-align: center;
	}

	@include nhGridRespondTo(M) {
		@include nhGridColspan(2, 12);
	}

	@include nhGridMargins(12);
	margin-top: 0px;
	margin-bottom: 20px;
	float: left;

	.story-card__title {
		font-size: 0.9em;
	}

	.story-card__taxon {
		margin-bottom: 5px;
		font-size: 0.9em;
	}

}

.carousel-card__content {
	@include nhGridColspan(4, 6);
	float: left;

	@include nhGridRespondTo(S) {
		width: 100%;
	}

}

.carousel-card__image {
	@include nhGridColspan(2, 6);
	margin-bottom: 10px;
	margin-right: 10px;
	float: left;


	@include nhGridRespondTo(S) {
		width: 100%;
		display: inline;
	}

}
