@import "../grid/main";

.carousel-card {
	width: 100%;
	text-align: left;

	@include oGridColumn((default: 12, XS: 6, S: 4, L: 2));
	@include oGridRespondTo(S) { text-align: center; }

	margin-top: 0px;
	margin-bottom: 20px;
	float: left;

	.story-card__title {
		font-size: 0.9em;
	}

	.story-card__taxon {
		margin-bottom: 5px;
		font-size: 0.9em;
	}

	a {
		&:hover,
		&:focus { text-decoration: underline; }
	}

}

.carousel-card--link {
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.carousel-card__content {
	@include oGridColumn((default: 8, XS: 12));
}

.carousel-card__image {
	@include oGridColumn(4);
	margin-bottom: 10px;
	padding-right: 3px;
	float: left;


	@include oGridRespondTo(XS) {
		width: 100%;
		display: inline;
	}

}

.flexipod--editors .carousel-card {
	@include oGridRespondTo($from: XS, $until: S) {
		&:nth-child(2n+1) { clear: both; }
	}

	@include oGridRespondTo($from: S, $until: L) {
		&:nth-child(3n+1) { clear: both; }
	}
}
