@import "next-type/main";
@import "o-colors/main";

@mixin nhFeedItem($hover-color) {
	border: 1px oColorsGetPaletteColor(warm-2) solid;
	border-width: 0 0 1px 0;

	a {
		padding: 6px 0;
		display: block;
	}

	&:hover,
	&:focus {
		border-width: 1px 0 1px;
		margin-top: -1px;
		border-color: oColorsGetPaletteColor($hover-color);

		h2 {
			color: oColorsGetPaletteColor($hover-color);
		}
	}

	&:first-of-type {
		border-width: 1px 0 1px;
		&:hover,
		&:focus {
			margin-top: 0px;
		}
	}

	h2 {
		@include nTypeAlpha(4);
		font-size: 16px;
		font-style: normal;
		line-height: 1.2;

		a {
			@include nLinksHeadline();
			border-color: oColorsGetPaletteColor($hover-color);
		}
	}

	p { display: none; }

	i { margin: 2px 6px 0 0; }

	time {
		@include nTypeAlpha(5);
		color: oColorsGetPaletteColor(timestamp);
		text-transform: uppercase;
		height: 42px;
	}
}
