@mixin storyCardFooter {
	@include nTypeAlpha(5);

	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	text-transform: uppercase;
	height: $story-card--footer-height;
	padding: 0 10px;
	line-height: $story-card--footer-height;

	.time-icon {
		margin-top: -3px;
	}

	time {
		padding-left: 3px;
		color: oColorsGetPaletteColor('timestamp');
	}

	.n-myft-ui--save {
		display: inline-block;
		float: right;
	}
}
