
@mixin liveBlogStateColor($color) {
	.story-card__content {
		.story-card__taxon {
			color: oColorsGetPaletteColor($color);
		}

		.liveblog__badge {
			background-color: oColorsGetPaletteColor($color);
		}
	}

	.story-card__footer {
		border-color: oColorsGetPaletteColor($color);
	}

	.liveblog__live-indicator {
		background-color: oColorsGetPaletteColor($color);

		.glow {
			background-color: oColorsGetPaletteColor($color);
		}
	}
}

.story-card--liveblog {
	.story-card__content {
		.liveblog__badge {
			@include nTypeBravo(4);
			display: inline-block;
			text-transform: uppercase;
			padding: 0.1em 0.5em 0.3em;
			margin: 0 0.2em 0 0;
			color: white;
		}

		.story-card__summary {
			@include nTypeEcho(3);
			font-size: 16px;
			line-height: 1.2;
		}

		.story-card__tag {
			display: inline-block;
		}

	}

	.story-card__footer {
		color: oColorsGetPaletteColor('timestamp');
		span { margin: 0 -0.2em 0 0.2em; }

		.liveblog__live-indicator {
			display: inline-block;
			width: 8px;
			height: 8px;
			border-radius: 4px;
			margin: 0 6px 0 4px;

			.glow {
				display: block;
				width: 8px;
				height: 8px;
				border-radius: 4px;
				opacity: 0.2;
				transform-origin: center;
				transform: scale(2.5, 2.5);
			}
		}
	}

	&.liveblog--comingsoon {
		@include liveBlogStateColor('liveblog-amber');
	}

	&.liveblog--inprogress {
		@include liveBlogStateColor('red');
	}

	&.liveblog--closed {
		@include liveBlogStateColor('grey-tint4');
	}

	&.liveblog--inprogress {
		.liveblog__live-indicator .glow {
			animation: pulse 1.7s ease infinite;
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(2.5, 2.5);
	}
	50% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(2.5, 2.5);
	}
}
