@import 'variables';
@import 'footer';

@mixin nhStoryGenreColors($color) {
	.story-card__footer { border-bottom: 1px $color solid; }
	.story-card__taxon, .carousel-card__taxon { color: $color; }
}

.article--default { @include nhStoryGenreColors(oColorsGetPaletteColor('claret')); }
.article--comment { @include nhStoryGenreColors(oColorsGetPaletteColor('section-blue')); }
.article--lifestyle { @include nhStoryGenreColors(oColorsGetPaletteColor('section-purple')); }
.article--analysis { @include nhStoryGenreColors(oColorsGetPaletteColor('section-green')); }


.story-card {
	&:hover, &:focus {
		background-color: oColorsGetPaletteColor('warm-2');
		.story-card__title,
		.story-card__summary {
			border-bottom: 1px #bbb dotted;
		}
	}
	background-color: oColorsGetPaletteColor('warm-base');
	float: left;
	display: flex;
	overflow: hidden;
	padding-bottom: $story-card--footer-height;
	position: relative;
}

.story-card--link { align-items: stretch; }

.story-card__title {
	@include nTypeCharlie(3);
	display: inline;
	font-style: normal;
	line-height: 1.2em;
	&::after {
		content: '';
		clear: both;
		display: block;
	}
}
.story-card__image { width: 100%; }
.story-card__taxon {
	@include nTypeBeta(4);
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: 5px;
}
.story-card__summary { @include nTypeDelta(3); }
.story-card__content {
	padding: 10px;
	overflow: hidden;
	& > * { margin-bottom: 10px; }
}

.story-card__footer { @include storyCardFooter;	}

@mixin nhStoryCard($type) {
	@if $type == 'large' {
		@include nhLargeCard();
	} @else if $type == 'tall' {
		@include nhTallCard();
	} @else if $type == 'medium' {
		@include nhMediumCard();
	} @else if $type == 'wide' {
		@include nhWideCard();
	} @else if $type == 'wideImageless' {
		@include nhWideImagelessCard();
	} @else if $type == 'small' {
		@include nhSmallCard();
	}

}

@mixin nhLargeCard() {
	font-size: 20px;

	.story-card__title { font-size: 1.1em; }
	.story-card__summary {
		font-size: 1em;
		line-height: 1.2em;
	}

	@include nhGridRespondTo($from: M) {
		.story-card__title { font-size: 0.6em; }
		.story-card__summary {
			font-size: 0.54em;
			line-height: 0.7em;
			display: initial;
		}
		font-size: 40px;
	}



	.story-card__image {
		@include nhGridColumn(6, 9);
		margin: 0;
		height: initial;
		display: block;
	}

	.story-card__content { @include nhGridColumn(3, 9); }

	.story-card__image,
	.story-card__content {
		@include nhGridRespondTo($until: XS) {
			width: 100%;
		}
	}
}

@mixin nhMediumCard {
	.story-card__image {
		display: none;
	}

	// .story-card__taxon { font-size: 20px; }
	.story-card__title { font-size: 20px; }
	.story-card__summary { font-size: 18px; }

	.story-card__summary { display: initial; }
}

@mixin nhSmallCard {
	.story-card__image { display: none; }
	.story-card__summary { display: none; }

	.story-card__title { font-size: 0.9em; }

}

@mixin nhTallCard {
	padding-bottom: 42px;
	font-size: 20px;

	.story-card__image {
		width: 100%;
		height: initial;
		display: block;
	}

	.story-card__summary { display: initial; }

	.story-card__title { font-size: 1.2em; }
	// .story-card__taxon { font-size: 1em; }
	.story-card__summary {
		font-size: 1.1em;
		line-height: 1.2em;
	}

}

@mixin nhWideCard() {
	font-size: 24px;
	@include nhGridRespondTo($from: M) {
		.story-card__title { font-size: 1em; }
		// .story-card__taxon { font-size: 0.8em; }
	}
	.story-card__image {
		@include nhGridColumn(4, 9);
		height: 100%;
		display: block;
		float: left;
		margin: 0;
	}

	// .story-card__title { font-size: 1em; }
	.story-card__summary { display: none; }
	.story-card__content { margin: 0; }
	.story-card__title { font-size: 1em; }
}

@mixin nhWideImagelessCard {
	@include nhWideCard();
	.story-card__image { display: none; }
}
