@import 'variables';
@import 'footer';
@import 'liveblog';

.story-card {
	background-color: oColorsGetPaletteColor('warm-base');
	width: 100%;
	overflow: hidden;
	padding-bottom: $story-card--footer-height;
	position: relative;
	font-size: 18px;

	a {
		@include linkHover;
	}
}

.story-card__related {
	clear: both;
}

.story-card__heading {
	display: inline-block;
	margin-bottom: 7px;
}

.story-card__title,
.story-card__related-link {
	@include nTypeCharlie(3);
	line-height: 1.2;
	margin-bottom: 10px;
	font-style: normal;

	font-size: 20px;
}

.story-card__related-link {
	@include oGridColumn((default: 9, M: 3), 9);
	@include oGridRespondTo($from: M) { border-bottom: none; }
	font-size: 16px;

	border-bottom: 1px dotted oColorsGetPaletteColor('warm-3');
	margin-bottom: 4px;
	padding-bottom: 4px;
}

.story-card__image { width: 100%; }
.story-card__taxon {
	@include nTypeBravo(4);
	color: oColorsGetPaletteColor('claret');
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.story-card__summary {
	@include nTypeDelta(3);
	line-height: 1;
	font-size: 18px;
}
.story-card__content {
	padding: 10px;
	overflow: hidden;
	& > * { margin-bottom: 10px; }
}

.story-card__footer { @include storyCardFooter;	}

@mixin nhStoryCard($type) {
	@if $type == 'large' {
		@include nhLargeCard();
	} @else if $type == 'tall' {
		@include nhTallCard();
	} @else if $type == 'medium' {
		@include nhMediumCard();
	} @else if $type == 'wide' {
		@include nhWideCard();
	} @else if $type == 'wideImageless' {
		@include nhWideImagelessCard();
	} @else if $type == 'small' {
		@include nhSmallCard();
	}

}

@mixin nhLargeCard() {
	font-size: 1.2em;
	@include oGridRespondTo($from: L) {
		.story-card__summary {
			display: initial;
		}
	}

	.story-card__title {
		font-size: 26px;
	}

	.story-card__image {
		@include oGridColumn(6, 9);
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		height: auto;
		display: block;
	}

	.story-card__content { @include oGridColumn(3, 9); }

	.story-card__image,
	.story-card__content {
		@include oGridRespondTo($until: M) {
			width: 100%;
		}

		// @include oGridRespondTo($from:S, $until: L) {
		// 	width: 100%;
		// }
	}
}

@mixin nhMediumCard {
	.story-card__image { display: none; }
	.story-card__summary { display: none; }
}

@mixin nhSmallCard {
	.story-card__image { display: none; }
	.story-card__summary { display: none; }
}

@mixin nhTallCard {
	display: block;
	padding-bottom: 42px;

	.story-card__image {
		width: 100%;
		height: auto;
		display: block;
	}

	.story-card__summary { display: none; }
}

@mixin nhWideCard() {
	.story-card__image {
		@include oGridColumn(3, 9);
		height: 100%;
		display: block;
		float: left;
		padding: 0;
	}
	.story-card__summary { display: none; }
	.story-card__content { margin: 0; }
}

@mixin nhWideImagelessCard {
	@include nhWideCard();
	.story-card__image { display: none; }
}
