@import "next-type/main";
@import "o-colors/main";

@mixin nhFastFtTitle {
	a {
		display: block;
		width: 100%;
		hight: 100%;
	}

	.fastft__logo__fast {
		text-indent: -9999px;
		@include nextIcon(brand-fast, oColorsGetPaletteColor(fastft-brand), 40px);
		height: 45px;
	}

	.fastft__logo__ft {
		text-indent: -9999px;
		@include nextIcon(brand-ft, oColorsGetPaletteColor(warm-4), 40px);
	}

	.fastft__more-icon {
		float: right;
	}
}

@mixin nhFastFtItem {
	padding: 14px 0;
	border: 1px oColorsGetPaletteColor(blue-2) solid;
	border-width: 0 0 1px 0;

	&:hover, &:focus {
		border-width: 1px 0 1px;
		margin-top: -1px;
		border-color: oColorsGetPaletteColor(fastft-brand);

		h2 a {
			color: oColorsGetPaletteColor(fastft-brand);
		}
	}

	&:first-of-type {
		border-width: 1px 0 1px;
		&:hover, &:focus {
			margin-top: 0px;
		}
	}

	h2 {
		@include nTypeCharlie(4);
		font-size: 19px;
		font-style: normal;
		line-height: 1.2;

		a {
			@include nLinksHeadline();
			border-color: oColorsGetPaletteColor(fastft-brand);
		}
	}

	p { display: none; }

	i {
		margin: 2px 4px 0 0;
	}

	time {
		@include nTypeAlpha(5);
		color: oColorsGetPaletteColor(timestamp);
		text-transform: uppercase;
		height: 42px;
	}
}
