@import "next-type/main";
@import "o-colors/main";

@mixin nhFastFtTitle {
	a {
		display: block;
		width: 100%;
	}

	.fastft__logo__fast {
		@include nextIcon(brand-fast, oColorsGetPaletteColor(fastft-brand), 40px);
		text-indent: -9999px;
		background-size: contain;
		background-position: center;
		height: 45px;
	}

	.fastft__logo__ft {
		@include nextIcon(brand-ft, oColorsGetPaletteColor(warm-4), 40px);
		text-indent: -9999px;
		background-size: contain;
		background-position: center;
	}

	.fastft__more-icon {
		float: right;
	}
}
